.edu-au-vic-wa-nt-pre {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.edu-au-vic-wa-nt-pre-italic {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}
.edu-au-vic-wa-nt-pre-emphatic {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: oblique;
}
.edu-au-vic-wa-nt-pre-bold {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: bold;
}
.edu-au-vic-wa-nt-pre-black {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: bold;
}

html {
	margin: 0;
	width: 100%;
	background-color: white;
}

/* Main Body */
body {
	font-family: Edu AU VIC WA NT Pre ;
	margin: auto;
	max-width: 40rem;
	color: #E4979B
}

/* Header */

header {
	background-color: white;
	color: #E4979B;
	padding: 5px 0;
	text-align: center;
}

p {
	max-width: clamp(45ch, 100%, 75ch);
	font-size: 1rem;
	line-height: 1.6rem; 
}

.bio {
	background-color: #E4979B;
	color:white;
}

h1,
h2,
h3 {
	max-width: 25rem
}

figure {
	max-width: 100%;
	margin: auto;
	margin-bottom: 2rem;
	font-family: monospace;
}

figcaption {
	margin-bottom: 1.5rem;
	padding: 0.5rem;
	color: black;
	background-color: white;
	font-size: 1rem;
}

img {
	margin: auto;
	max-width: 100%;
}

.shadow {
	border: solid 2px black;
	box-shadow: 5px 5px  black;
}

nav ul {
	background-color: #E4979B;
	border-radius: 5px;
	color: white;
	padding: 1em;
	text-decoration: none;
}

nav a {
	border-radius: 5px;
	color: white;
	padding: 1em;
	text-decoration: none;
}


nav a:hover {
	background-color: #e8b8b8;
}

nav li {
	display: inline;
	margin-right: 2rem;
}

table td {
	vertical-align: top;
	padding: 0.156rem 0.313rem;
	text-align: left;
}

.box {
	color:white;
	padding: 0.8rem 0.8rem 0.6rem 0.6rem;
	border: 1px solid #E4979B;
	background-color: #f6cacc;
}

.box-img {
	padding: -0.8rem -0.8rem -0.6rem -0.6rem;
}

.box-img img {
	margin: 0;
	padding: 0;
}

@media (min-width:1100px) {
	.wrapper {
		width: 40rem;
		margin: auto;
	}

	.grid-10 {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-auto-rows: -webkit-min-content;
		grid-auto-rows: min-content;
		-moz-column-gap: 1.6rem;
		column-gap: 1.6rem;
		row-gap: 1.6rem;
	}

	.col-5 {
		grid-column-end: span 6;
	}

	.col-4 {
		grid-column-end: span 3;
	}
}

footer {
	max-width: 40rem;
	margin: auto;
}
