.edu-au-vic-wa-nt-pre {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.edu-au-vic-wa-nt-pre-italic {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}
.edu-au-vic-wa-nt-pre-emphatic {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: oblique;
}
.edu-au-vic-wa-nt-pre-bold {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: bold;
}
.edu-au-vic-wa-nt-pre-black {
	font-family: "Edu AU VIC WA NT Pre", cursive;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: bold;
}

html {
	margin: 0;
	width: 100%;
	background-color: white;
}

/* Main Body */
body {
	font-family: Edu AU VIC WA NT Pre ;
	margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-rendering: optimizeLegibility;
	max-width: 41rem;
	color: black; 
}

/* Day */
.morning h1 {
  background-color: white;
  color: #ddcd72;
  padding: 5px 0;
  text-align: center;
}

.afternoon h1 {
  background-color: white;
  color: rgb(236, 139, 69);
  padding: 5px 0;
  text-align: center;
}

.evening h1 {
  background-color: white;
  color:#9a426a;
  padding: 5px 0;
  text-align: center;
}

.night h1 {
  background-color: white;
  color:rgb(127, 44, 171);
  padding: 5px 0;
  text-align: center;
}

/* Header */

header {
	background-color: white;
	color: #E4979B;
	padding: 5px 0;
	text-align: center;
}

p {
  max-width: clamp(45ch, 100%, 75ch);
  text-align: justify;
   hyphens: auto;
   -webkit-hyphens: auto;
   word-spacing: 0.05rem;
   line-height: 1.4rem;
}

.bio {                          /*This is no longer in use as I went back to the box style for the list on my index page.*/
	background-color: #E4979B;  /*I'm leaving this here so I can tinker with it more in the future.*/
	color:white;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4{
	color: #E4979B;
}

/* Hyperlink */

a:link {
  color: #861b5b;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

figure {
	max-width: 100%;
	margin: auto;
	margin-bottom: 2rem;
	font-family: monospace;
}

figcaption {
  text-align: center;
	margin-bottom: 1.5rem;
	padding: 0.5rem;
	color: black;
	background-color: white;
	font-size: 1rem;
}

img {
	margin: auto;
	max-width: 100%;
}

/*Image Animation*/

img:hover {
  filter:saturate(60%)brightness(115%);
}

.shadow {
	border: solid 2px black;
	box-shadow: 5px 5px  black;
}

nav ul {
	background-color: #E4979B;
	border-radius: 5px;
	color: white;
	padding: 1em;
	text-decoration: none;
}

nav a {
	border-radius: 5px;
	color: white;
	padding: 1em;
	text-decoration: none;
}

nav a:hover {
	background-color: #e8b8b8;
}

nav li {
	display: inline;
	margin-right: 2rem;
}

table td {
	vertical-align: top;
	padding: 0.156rem 0.313rem;
	text-align: left;
}

textarea {
	width: 100%;
	height: 15ch;
	padding: 0.8rem 1.2rem;
	box-sizing: border-box;
	background-color: white;
  font-family: monospace;
	resize: none;
}

label {
    color: black;
    margin-right: 1rem;
}

footer {
    margin-top: 4rem;
	  max-width: 40rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    color: white; 
    background-color: #E4979B;
}

footer a:link {
  color: white;
}

footer hr {
  color: white;
  width: 99.5%; /*For whatever reason it clips over the edge of the box if it's at 100%...*/
}               /*I assume the more time I spend with CSS the more little issues like this will appear, LOL!*/

footer small, span {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.box {
	color:black;
	padding: 0.8rem 0.8rem 0.3rem 0.3rem;
	border: 1px solid #E4979B;
	background-color: #f6cacc;
  margin-bottom: 1rem;
}

.box-img {
	padding: -0.8rem -0.8rem -0.6rem -0.6rem;
}

.box-img img {
	margin: 0;
	padding: 0;
}
.small-text p, li, dd, th, td {
  font-size: 0.9rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
  gap: 6%;
  align-items: flex-start;
  justify-content:space-around;
}

.container > figure {
	flex: 44%;
  margin: 0px auto;
  margin-bottom: 2rem;
}

.container > div {
  flex: 1 1;
  margin-bottom: 2rem;
}

#white  {
  color: white;
}

#right {
  float:right;
}

@media (min-width:1100px) {
	.wrapper {
		width: 40rem;
		margin: auto;
	}

	.grid-10 {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-auto-rows: -webkit-min-content;
		grid-auto-rows: min-content;
		-moz-column-gap: 1.6rem;               /*It's weird how different browsers require different CSS notation,*/
		column-gap: 1.6rem;                    /*I feel like it wouldn't be that hard to collectively use the same*/
		row-gap: 1.6rem;                       /*features.*/
	}

	.col-5 {
		grid-column-end: span 6;
	}

	.col-4 {
		grid-column-end: span 3;
	}
}

@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
