body {
    margin: auto;
    max-width: 40rem;
  }

  p {
    max-width: clamp(45ch, 100%, 75ch);
    font-size: 1rem;
    line-height: 1.6rem
  }

  h1,
  h2,
  h3 {
    max-width: 25rem
  }

  figure {
    max-width: 100%;
    margin: auto;
    padding: 0.125rem;
    font-family: monospace;
  }

  img {
    max-width: 100%;
  }

  header {
    max-width: 40rem;
    margin: auto;
  }

  nav ul {
    list-style: none;
    overflow: auto;
    margin: 0;
  }

  nav li {
    display: inline;
    margin-right: 2rem;
  }

  table td {
    vertical-align: top;
    padding: 0.156rem 0.313rem;
    text-align: left
  }

  .box {
    padding: 0.8rem 0.8rem 0.6rem 0.6rem;
    max-width: max-content;
    border: 1px solid black;
  }

  .box-img {
    padding: -0.8rem -0.8rem -0.6rem -0.6rem;
  }

  .box-img img {
    margin: 0;
    padding: 0;
  }

  @media (min-width:1100px) {
    .wrapper {
      width: 40rem;
      margin: auto;
    }

    .grid-10 {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-auto-rows: -webkit-min-content;
      grid-auto-rows: min-content;
      -moz-column-gap: 1.6rem;
      column-gap: 1.6rem;
      row-gap: 1.6rem;
    }

    .col-5 {
      grid-column-end: span 6;
    }

    .col-4 {
      grid-column-end: span 3;
    }
  }

  footer {
    max-width: 40rem;
    margin: auto;
  }
